<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="header-avatar"></div>
    <mat-card-title>User Profile</mat-card-title>
    <mat-card-subtitle>Swoftware Engineer</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo"
  />
  <mat-card-content>
    <p>
      Shiba Inu is a small, agile dog that copes very well with mountainous
      terrain.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      Like
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-button>
      Share
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <p style="padding: 8px">Update 2 hours age</p>
  </mat-card-footer>
</mat-card>
