<mat-stepper>
  <mat-step label="Step One"  >
    <app-step1></app-step1>
  </mat-step>
  <mat-step label="Step Two">
    <app-step2></app-step2>
  </mat-step>
  <mat-step label="Step Three">
    <app-step3></app-step3>
  </mat-step>
</mat-stepper>


<mat-stepper orientation="vertical">
  <mat-step label="Step One"  >
    <app-step1></app-step1>
  </mat-step>
  <mat-step label="Step Two">
    <app-step2></app-step2>
  </mat-step>
  <mat-step label="Step Three">
    <app-step3></app-step3>
  </mat-step>
</mat-stepper>

