<mat-grid-list cols="3" rowHeight="150px">
<mat-grid-tile style="background-color: rebeccapurple;">Item 1</mat-grid-tile>
<mat-grid-tile style="background-color: brown;">Item 2</mat-grid-tile>
<mat-grid-tile style="background-color: chocolate;">Item 3</mat-grid-tile>
<mat-grid-tile style="background-color: coral;">Item 4</mat-grid-tile>
<mat-grid-tile colspan="2" style="background-color: darkmagenta;">Item 5</mat-grid-tile>
<mat-grid-tile colspan="3" style="background-color: darkolivegreen;">Item 5</mat-grid-tile>
</mat-grid-list>
