<div style="display: flex; justify-content: space-around;">
  <button mat-raised-button matBadge="{{counter}}" matBadgeColor="primary"
(click)="counter=counter+1">
  Messages
</button>

<button mat-raised-button matBadge="10" matBadgeColor="accent"
 matBadgePosition="below after">Download</button>

 <button mat-raised-button matBadge="5" matBadgeSize="medium">Card</button>

<button mat-icon-button matBadge="9" matBadgeColor="warn">
  <mat-icon>email</mat-icon>
</button>

<button mat-stroked-button matBadge="New">Messages</button>
</div>
