<mat-accordion multi="true">
<mat-expansion-panel>
  <mat-expansion-panel-header>
<mat-panel-title>
  <mat-icon>person</mat-icon>
  User Details
</mat-panel-title>
<mat-panel-description>Click to view</mat-panel-description>
  </mat-expansion-panel-header>
  <p>Id : 1001</p>
  <p>Name : Mostafa Ahmed Mohamed</p>
  <p>Salary : 2500 EGP</p>
</mat-expansion-panel>
<br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>settings</mat-icon>Settings
    </mat-panel-title>
  </mat-expansion-panel-header>
<p>Theme : Light</p>
<p>Language : Arabic</p>
</mat-expansion-panel>
</mat-accordion>
