// .my-snack.mat-mdc-snack-bar-container {
//   background: red !important;
// }

// .my-snack .mdc-snackbar__label {
//   color: white !important;
// }

// .my-snack .mdc-button__label {
//   color: orange !important;
// }


// .cdk-overlay-container, .cdk-global-overlay-wrapper{
//     background: red !important;
// }


.my-snack.mat-mdc-snack-bar-container {
  background: red !important;
}

.my-snack .mdc-snackbar__label {
  color: white !important;
}

.my-snack .mdc-button__label {
  color: orange !important;
}
